body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15%;
    height:100%;
    width:100%;
    background: white;
    display: block;
}

.topBar{
    width:80%;
    margin: 0 auto;
    padding: 20px;
    overflow:hidden;
}

#logo{
    height:85px;
    width: 150px;
}

.iconDisplay{
    display:inline;
    float:left;
}

.gradient{
    background-color:beige;
    background-image:
            linear-gradient(
                    to bottom,
                    lightgray,
                    white 0.7%
            );
}

.searchBar{
    float:left;
    display:inline;
    margin-left:20%;
    width:50%;
    padding:20px;
    color:grey;
    border: none;
}

.searchButton{
    display:inline;
    float:left;
    background: #2196F3;
    color: white;
    border-left: none; /* Prevent double borders */
}


.restaurantView{
    text-align:center;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}

div.namePanel{
    padding: 5px;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: sans-serif;
}

div.infoPanel{
    border: none;
    width: auto;
    margin: 50px 0 15px 15px;
    padding: 5px;
}

button{
    padding: 25px 50px;
    font-size: 15px;
}

button:hover{
    opacity:1;
}

.button-links{
    border-radius:7px;
    border: 1px grey;
    background-size:cover;
    padding: 125px 200px;
    opacity: 0.75;
    transition: 0.3s;
}

#more{

}



