body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15%;
    height:100%;
    width:100%;
    background: white;
    display: block;
}

#top-bar{
    padding: 2%;
    margin-bottom:20px;
}

#bottom-bar{
    display: block;
    float:bottom;
    margin: 0;
    bottom:0;
    position: absolute;
    background-color: lightgrey;
    width:100%;
    text-align: center;
    overflow: auto;
}

#bottom-bar.col:hover,
#bottom-bar.col:active{
    background-color: darkgrey;
}

a:hover, a:active{
    background-color: black;
}

searchbar{
    padding: 15px;
}
a{
    background-color: grey;
}

div.namePanel{
    padding: 5px;
    text-overflow: ellipsis;
    font-size: 15px;
    font-family: sans-serif;


}

div.infoPanel{
    border: none;
    width: auto;
    margin: 50px 0px 15px 15px;
}

p{
    font-size: medium;
}

button{
    padding: 25px 50px;
    font-size: 15px;
}

button:hover{
    opacity:1;
}

.button-links{
    border-radius:7px;
    border: 1px grey;
    background-size:cover;
    padding: 125px 200px;
    opacity: 0.75;
    transition: 0.3s;
}


#more{
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}




