body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15%;
    height:100%;
    width:100%;
    background: white;
    display: block;
}

.topBar{
    width:80%;
    margin: 0 auto;
    padding: 20px;
    overflow:hidden;
}

#logo{
    height:85px;
    width: 150px;
}

.iconDisplay{
}

.gradient{
    background-color:beige;
    background-image:
            linear-gradient(
                    to bottom,
                    lightgray,
                    white 0.7%
            );
}

.searchBarContainer{
    width:75%;
    padding:20px;
    color:grey;
    border: none;
    margin-right:auto;
    margin-left:auto;
}

.searchBar{
    border: solid 1px darkgrey;
    border-radius: 7px;
}

.searchBarContainer input[type=text]{
    width: 90%;
}

.searchHeader .searchBarContainer button{
    background: #FFA500;
    border: solid 1px darkgrey;
    opacity: 0.7;
    cursor: pointer;
    width: 5%;
}

.searchHeader .searchBarContainer button:hover {
    opacity: 1;
    transition: 0.3s ease;
}

input:focus {
    border: 1px solid #FFA500;
    border-radius:7px;
    outline: none;
    box-shadow: none;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.namePanel{
    float:left;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    width: 50%;
}

.pricePanel{
    font-size: 12px;
    font-family:sans-serif;
}
.detailPanel{
    font-size: 12px;
    color: darkgray;
}

.infoPanel{
    border: none;
    width: auto;
    height:auto;
    margin: 50px 0 15px 15px;
    padding: 5px;
}

button{
    font-size: 0.8px;
    width:auto;
    border-radius: 7%;

}

button:hover{
    opacity:1;
}

.button-links{
    border-radius:7px;
    border: 1px grey;
    background-size:cover;
    padding: 125px 200px;
    opacity: 0.75;
    transition: 0.3s;
}




